.App {
  text-align: center;
  margin-top: 4em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.timer-container {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
  @media (max-width: 950px) {
  }
}

#timer {
  margin-top: -2em;
  min-height: 30px;
  font-size: 30px;
  color: rgb(128, 192, 235);
}

.dashboard {
  margin-top: 5em;
  width: 100%;
  @media (max-width: 950px) {
    margin-top: 10em;
    min-width: max-content;
  }
}
