@import "../../styles/theme.scss";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

.wrapper {
  padding: 1em 0;
  // background-color: rgba(0, 0, 0, 0.644);
  background-image: linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0));
  background-repeat: no-repeat;

  // background-color: rgba(255, 255, 255, 0.644);
  // box-shadow: rgba(0, 0, 0, 0.02) 0px -10px 16px 20px;
}

.container {
  width: 1075px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  // justify-content: space-between;

  h1 {
    font-size: 40px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;
    margin-right: 5rem;
  }
}

.navItems {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: 2em;

  li {
    margin: 0 1em;
    color: rgb(255, 255, 255);

    .navLink,
    a {
      color: white;
      text-decoration: none;
      &:hover {
        color: rgba(255, 255, 255, 0.753);
      }
    }
  }
}

.focus {
  border-bottom: 3px #bcbcbc2c solid;
}

.liFlex {
  display: flex;
  align-items: center;
  font-weight: 600;

  div {
    margin-left: 1rem;
  }
}
.period {
  font-family: "Rubik", sans-serif;
}

.dropDown {
  position: relative;
  margin-right: 0;
  margin-left: 2rem;
  cursor: pointer;
}
.dropDownMenu {
  display: none;
  position: absolute;
  margin-top: 10px;
  background-color: white;
  border-radius: 3px;
  border: rgb(168, 168, 168) solid 1px;
  box-shadow: rgba(0, 0, 0, 0.322) 0px 4px 10px 3px;
  ul {
    list-style-type: none;
    li {
      color: rgb(42, 42, 42);
      margin: 1rem 1.5rem;
      display: flex;
      cursor: pointer;
      img {
        margin-right: 10px;
        width: 20px;
      }
    }
  }
}

p:last-child {
  margin-top: 1.8rem;
}
