@import "../../styles/theme.scss";

.wrapper {
  padding: 1em 10em;
  background-color: rgba(255, 255, 255, 0.644);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  // justify-content: space-between;

  h1 {
    font-size: 40px;
    color: black;
    cursor: pointer;
    text-decoration: none;
  }
}

.navItems {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: 2em;

  li {
    margin: 0 1em;

    .navLink {
      text-decoration: none;
      color: black;
      cursor: pointer;
      transition: color 0.5s;
      padding: 5px 3px;

      &:hover {
        color: rgb(39, 39, 39);
      }
    }
  }
}

.focus {
  border-bottom: 3px #0000002c solid;
}
