@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import "./theme.scss";

*,
*::before,
*::after {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  // background-image: linear-gradient($primary, $darker);
  background-color: rgb(245, 245, 245);
  height: 100vh;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.5s;
  border: 1px rgb(190, 190, 190) solid;
  border-radius: 2px;
  box-sizing: border-box;
  &:hover {
    background-color: rgb(231, 231, 231);
    border: 1px rgb(168, 168, 168) solid;
  }
  &:focus {
    box-shadow: $darker 0px 0px 0px 1px;
    border-color: $darker;
    outline: none;
  }
}

input,
textarea {
  border: 1px rgb(190, 190, 190) solid;
  border-radius: 2px;
  font-size: 16px;
  padding: 10px;
  &:focus {
    box-shadow: $darker 0px 0px 0px 1px;
    border-color: $darker;
    outline: none;
  }
}

a {
  text-decoration: none;
  &:visited {
    text-decoration: none;
  }
}

.welcomePopup {
  background-color: rgba(145, 214, 185, 0.459);
  width: max-content;
  padding: 0.7em 2em;
  margin: 1em auto;
}

.loader {
  border: 10px solid rgb(230, 230, 230); /* Light grey */
  border-top: 16px solid rgb(199, 199, 199); /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

textarea {
  white-space: pre-line;
}
