$main_color: rgb(43, 108, 182);

.list {
  padding: 8px;
  width: 250px;
  border-radius: 5px;
  background-color: rgb(238, 238, 238);
}

.list-container {
  text-align: left;
  margin: 10px;

  h3 {
    margin: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    user-select: none;
  }
}

form {
  margin-bottom: 10px;

  div {
    display: flex;
    justify-content: space-between;
  }
}

input {
  box-sizing: border-box;
  border-radius: 5px;
  background-color: white;
  border: none;
  width: 100%;
  min-height: 50px;
  font-size: 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  outline: none;
  margin-bottom: 1em;
  padding: 8px;

  &:focus {
    box-shadow: 0 0 0 2pt rgba(0, 0, 0, 0.171);
  }
}

button {
  background-color: $main_color;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0.5em;
  cursor: pointer;
}

.add-btn,
.close {
  text-align: center;
  background: none;
  color: gray;
}

.symbol {
  font-size: 18px;
}

.number-input {
  text-align: center;
  width: 70px;
}

.task-name-input {
  margin-right: 10px;
}

.list-option-btns {
  display: flex;
  justify-content: space-between;
}

.clear-list-btn {
  text-align: center;
  background: rgb(248, 248, 248);
  color: rgb(109, 109, 109);
  transition: ease-in 0.2s;
  padding: 0 12px;
  &:hover {
    // color: rgb(255, 255, 255);
    color: rgb(45, 141, 206);
    background-color: rgb(220, 237, 248);
  }
}
