@import "styles/theme.scss";

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $darker;
  flex-direction: column;
  padding: 1em 2em;
  background-color: white;
  box-sizing: content-box;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  button {
    margin-top: 1em;
  }

  h2 {
    font-size: 45px;
  }
}

.close {
  position: absolute;
  background: none;
  border: none;
  right: 3px;
  top: -13px;
  padding: 0 5px;
  color: gray;
  box-shadow: none;

  &:hover {
    background: none;
    border: none;
  }
}

.btnContainer {
  display: flex;
}

.timerBtn {
  // padding: 4px 20px;
  width: 100px;
  border-radius: 5px;
  margin: 0 5px;
  transition: none;
  border: solid #d8d8d8 1px;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  &:focus {
    border: solid #b4b4b4 1px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }
  &:hover {
    background-color: #e9e9e9;
    border: solid #a5a5a5 1px;
  }
}
